<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); -%>


<body>
  <%- include('./partials/navigation'); -%>

    <div class="container-fluid" style="height: 100%; min-height: 100vh; background-color: white;">
      <div id="tester"></div>
      <div><%- data.lastUpdated %> </div>
    </div>

<%- include('./partials/scripts'); -%>
</body>

<script>
  var data = <%- JSON.stringify(data) %>

  const defaultState = { data, chart: { type: 'bar' } }

  function App (state = defaultState) {
    this.state = state
    this.updateState = (newState) => { 
      this.state = { ...this.state, newState } 
      return this.state
    }
  }

  const app = new App()
  console.log(app.state)
  // var plotly = [
  //   {
  //     x: ['giraffes', 'orangutans', 'monkeys'],
  //     y: [20, 14, 23],
  //     type: 'bar'
  //   }
  // ];

	// TESTER = document.getElementById('tester');
	// Plotly.newPlot( TESTER, data)
</script>

</html>
